  <h1 class="<%= @class_name %>">We're here to Fu*k Sh*t up</h1>


  <h2 class="<%= @class_name %>">MANAGEMENT</h2>
  <p class="<%= @class_name %>"><img class="<%= @class_name %>" src="images/management.jpg">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.</p>


<h2 class="<%= @class_name %>">FINANCIAL PORTFOLIOS</h2>
<p class="<%= @class_name %>"><img class="<%= @class_name %>" src="images/financial.jpeg">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. .</p>

<br>

<h2 class="<%= @class_name %>">INSURANCE</h2>
<p class="<%= @class_name %>"><img class="<%= @class_name %>" src="images/insurance.jpg">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. .</p>


<h2 class="<%= @class_name %>">COMPUTERS</h2>
<p class="<%= @class_name %>"><img class="<%= @class_name %>" src="images/computers.jpg">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.</p>

<h2 class="<%= @class_name %>">BLACK LEATHER GLOVES</h2>
<p class="<%= @class_name %>"><img class="<%= @class_name %>" src="images/gloves.jpg">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.</p>


<h2 class="<%= @class_name %>">RESEARCH&DEVELOPMENT</h2>
<p class="<%= @class_name %>"><img class="<%= @class_name %>" src="images/RnD.jpg">
Putting in the man hours to study the science of what you need. Last week we put liquid paper on a bee, and it died.</p>


<h2 class="<%= @class_name %>">SECURITY</h2>
<p class="<%= @class_name %>"><img class="<%= @class_name %>" src="images/security.jpg">
You geriatric f***! You better keep your liver-spotted hands off my beautiful mother, who is a saint, or else I'll shove one of your hearing devices up your ass so you can hear the sound of your own small intestines producing shit! </p>
