  <h1 class="<%= @class_name %>">We're here to Fu*k Sh*t up</h1>


  <h2 class="<%= @class_name %>">MANAGEMENT</h2>
  <p class="<%= @class_name %>"><img class="<%= @class_name %>" src="images/management.jpg">
  I'm so scared right now. I'm just gonna to do what's sensible, I'm gonna file for unemployment. Then I'm gonna try to get a job at Enterprise Rent-A-Car, because they got an excellent corporate structure and they... *they* give *you* the tools to be your own boss.</p>


<h2 class="<%= @class_name %>">FINANCIAL PORTFOLIOS</h2>
<p class="<%= @class_name %>"><img class="<%= @class_name %>" src="images/financial.jpeg">
I work at a college as a janitor even though I feel like I'm smarter than most of the people who go there. Sometimes I see an equation written on a blackboard like half an equation and... I just figure it out.</p>

<h2 class="<%= @class_name %>">INSURANCE</h2>
<p class="<%= @class_name %>"><img class="<%= @class_name %>" src="images/insurance.jpg">
Suppose Nancy sees me coming out of the shower and decides to come on to me. I'm looking good, got a luscious V of hair going through my chest pubes down to my ball fro. She takes one look at me and goes, " Oh, my God, I've had the old bull, now I want the young calf," and she grabs me by the weiner.</p>


<h2 class="<%= @class_name %>">COMPUTERS</h2>
<p class="<%= @class_name %>"><img class="<%= @class_name %>" src="images/computers.jpg">
When I was a kid, when I was a little boy, I always wanted to be a dinosaur. I wanted to be a Tyrannosaurus Rex more than anything in the world. I made my arms short and I roamed the backyard, I chased the neighborhood cats, I growled and I roared. Everybody knew me and was afraid of me. And one day my dad said, "Bobby, you are 17. It's time to throw childish things aside," and I said, "Okay, Pop." But he didn't really say that, he said, "Stop being a fucking dinosaur and get a job.</p>

<h2 class="<%= @class_name %>">BLACK LEATHER GLOVES</h2>
<p class="<%= @class_name %>"><img class="<%= @class_name %>" src="images/gloves.jpg">
Listen, I know that we started out as foe. But after that courageous act that you showed me against the one they call Derek, maybe someday we could become friends. Friends who ride majestic, translucent steeds, shooting flaming arrows across the bridge of Hemdale.</p>


<h2 class="<%= @class_name %>">RESEARCH&DEVELOPMENT</h2>
<p class="<%= @class_name %>"><img class="<%= @class_name %>" src="images/RnD.jpg">
Putting in the man hours to study the science of what you need. Last week we put liquid paper on a bee, and it died.</p>


<h2 class="<%= @class_name %>">SECURITY</h2>
<p class="<%= @class_name %>"><img class="<%= @class_name %>" src="images/security.jpg">
You geriatric f***! You better keep your liver-spotted hands off my beautiful mother, who is a saint, or else I'll shove one of your hearing devices up your ass so you can hear the sound of your own small intestines producing shit! </p>
